<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link type="text/css" href="/site_media/css/custom-theme/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<link type="text/css" href="/site_media/css/estilo.css" rel="stylesheet"/>
<script type="text/javascript" src="/site_media/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/site_media/js/jquery-ui-1.10.4.custom.js"></script>


<title>Galeria de Fotos</title>

<script>
  $(function() {
    $( "#radio" ).buttonset();
  });
</script>

</head>


<body>

	<div id="header">
		<h1>Galeria de Imágenes</h1>
		<form>
		  <div id="radio" style="text-align:center">
		    <input type="radio" id="homeButton" checked="checked"><label for="homeButton" onClick="location.href='/'"> Home </label>
		    <input type="radio" id="addButton" onClick="location.href='/add'"><label for="addButton"> Adicionar Imagen </label>
		    <input type="radio" id="aboutButton" onClick="location.href='/about'"><label for="aboutButton"> Acerca de.. </label>
		    <input type="radio" id="contactButton" onClick="location.href='/contact'"><label for="contactButton"> Contáctenos </label>
		  </div>
		</form>
	</div>

	<br>
	<div id="galeria">
		{% for foto in galerias %}
			<div id="itemGaleria">
				<img src="{{foto.url}}" 
					border="2px" alt="{{foto.url}}" title="{{foto.title}}" width="270px" height="240px" /> 
				<br> 
				<p id="detail">
					<b>{{foto.title}}</b>
					<br>
					{{foto.description}}
				</p> 
			</div>
		{% endfor %}
	</div>

	<div id="footer"><h4>Grupo 1: Adriana Marcela Osorio F. -
		Efrain César Perez - Juan Camilo Cerquera - Andres Felipe Osorio -
		Jamil Murcia</h4>
	</div>

</body>

</html>
